<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>力达-物流资源平台</title>
    <link rel="stylesheet" href="/static/css/common.css?v=<%= htmlWebpackPlugin.options.sVersion %>">
    <link rel="stylesheet" href="/static/vuelib/elementUi/lib/theme-chalk/index.css?v=<%= htmlWebpackPlugin.options.sVersion %>">
</head>
<body>
<div id="global_app">
    <router-view></router-view>
</div>
<!-- built files will be auto injected -->
<script src="/static/vuelib/util/checkBrowser.js?v=<%= htmlWebpackPlugin.options.sVersion %>"></script>
<script src="/static/lib/jquery-1.11.1.min.js"></script>
<script src="/static/lib/vue2.js"></script>
<script src="/static/lib/vue-router.js"></script>
<script src="/static/lib/vuex2.js"></script>
<script src="/static/vuelib/elementUi/lib/index.js?v=<%= htmlWebpackPlugin.options.sVersion %>"></script>
<script src="/static/vuelib/echarts/echarts.min.js"></script>
<script src="/static/vuelib/util/m.baidu.js"></script>
</html>
